# AWS Credentials (Get these from AWS IAM console)
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_REGION=ap-south-1

# AWS S3 Configuration
S3_BUCKET_NAME=your-bucket-name-here

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_TOPIC=stock_ticks
